body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fdfd;
}

  /* Header */

header {
  background: #005864;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Logo*/
.logo {
  height: 32px;
}

/*navigation*/

nav ul {
  list-style-type: none;
}
nav ul li{
  display: inline-block;
 
}
nav ul li a{
  text-decoration: none;
  color: #f9fdfd;
  padding: 12px;
}
nav ul li a:hover{
  border-bottom: 2px solid white;
}
nav ul li a.active{
border-bottom: 2px solid white;
}

.main-content{
  margin: 40px 0px;
}
 /* Center Box */
 .card{
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  margin: auto;
  padding: 24px;
  text-align: center;
 }
 .card-image{
  width: 200px;
 }




/*Button*/
button.primary-btn {
 background: #005864;
 border-radius: 10px;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 5px 5px;
 cursor: pointer;
}




/* Footer */

#footer {
  position: relative;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #005864;
  display: flex;
  flex-direction: row;
}

.footerNav {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 24px 24px; 
  text-align: left;
 }